:root {
  --white: #ffffff;
  --black: #000000;
  --tur: #018fa3;
  --FO: #f0f0f0;
  --FA: #fae01a;
  --turA6: #03a2a6;
  --BE: #fff7be;
  --95: #95d8e0;
  --A5: #089ea5;
  --4E: #4eca30;
  --OF: #018fa30f;
  --B2: #03a2a6b2;
  --OA: #0a2530;
  --955: #955dea;
  --955A: #955eea;
  --98: #98dbd7;
  --DD: #ddc300;
  --DDC: #ddc300;
  --F6: #f6faff;
}
